/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Transiciones suaves */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}